.image {
  width: 20vw;
}

* {
  background-color: #290025;
  margin-left: 0.5vw;
  margin-top: 2vh;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
